// @see
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

$primary: #ee518e;
$secondary: #7c5530;
$light: #f3f3f3;

$spacer: 1rem;

// ex. mb-${spacer-index} pt-${spacer-index}
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer * 0.75,
    4: $spacer * 1,
    5: $spacer * 1.25,
    6: $spacer * 1.5,
    7: $spacer * 1.75,
    8: $spacer * 2
);

$font-size-base: 0.95rem;
$body-color: #323232;

$btn-padding-y: map-get($spacers, 3);
$btn-padding-x: map-get($spacers, 6);
$btn-font-size-sm: 0.7rem;

$grid-gutter-width: 1rem;

$card-spacer-y: map-get($spacers, 6);
$card-spacer-x: map-get($spacers, 6);
